<?xml version="1.0"?>
<config>
    <modules>
        <Qchat_Chat>
            <version>0.1.0</version>
        </Qchat_Chat>
    </modules>
    <frontend>
        <routers>
            <chat>
                <use>standard</use>
                <args>
                    <module>Qchat_Chat</module>
                    <frontName>chat</frontName>
                </args>
            </chat>
        </routers>
        <layout>
            <updates>
                <chat>
                    <file>chat.xml</file>
                </chat>
            </updates>
        </layout>
    </frontend>   
    <global>
        <models>
            <chat>
                <class>Qchat_Chat_Model</class>
                <resourceModel>chat_mysql4</resourceModel>
            </chat>
            <chat_mysql4>
                <class>Qchat_Chat_Model_Mysql4</class>
                <entities>
                    <chat>
                        <table>chat</table>
                    </chat>
                </entities>
            </chat_mysql4>
        </models>
        <resources>
            <chat_setup>
                <setup>
                    <module>Qchat_Chat</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </chat_setup>
            <chat_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </chat_write>
            <chat_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </chat_read>
        </resources>
        <blocks>
            <chat>
                <class>Qchat_Chat_Block</class>
            </chat>
        </blocks>
        <helpers>
            <chat>
                <class>Qchat_Chat_Helper</class>
            </chat>
        </helpers>
    </global>
</config>