<?xml version="1.0"?>
<config>
    <modules>
        <Account_User>
            <version>0.1.1</version>
        </Account_User>
    </modules>
    <frontend>
        <routers>
            <user>
                <use>standard</use>
                <args>
                    <module>Account_User</module>
                    <frontName>user</frontName>
                </args>
            </user>
        </routers>
        <layout>
            <updates>
                <user>
                    <file>user.xml</file>
                </user>
            </updates>
        </layout>
    </frontend> 
	<admin>
        <routers>
            <user>
                <use>admin</use>
                <args>
                    <module>Account_User</module>
                    <frontName>user</frontName>
                </args>
            </user>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <user module="user">
                <title>Users</title>
                <sort_order>71</sort_order>               
                <children>
                    <items module="user">
                        <title>Manage User</title>
                        <sort_order>0</sort_order>
                        <action>user/adminhtml_user</action>
                    </items>
                </children>
            </user>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <user>
                            <title>User Module</title>
                            <sort_order>200</sort_order>
                        </user>
                    </children>
                </admin>
            </resources>   
        </acl>
        <layout>
            <updates>
                <user>
                    <file>user.xml</file>
                </user>
            </updates>
        </layout>
    </adminhtml> 
    <global>
        <models>
            <user>
                <class>Account_User_Model</class>
                <resourceModel>user_mysql4</resourceModel>
            </user>
            <user_mysql4>
                <class>Account_User_Model_Mysql4</class>
                <entities>
                    <user>
                        <table>user</table>
                    </user>
                </entities>
            </user_mysql4>
        </models>
        <resources>
            <user_setup>
                <setup>
                    <module>Account_User</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </user_setup>
            <user_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </user_write>
            <user_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </user_read>
        </resources>
        <blocks>
            <user>
                <class>Account_User_Block</class>
            </user>
        </blocks>
        <helpers>
            <user>
                <class>Account_User_Helper</class>
            </user>
        </helpers>
    </global>
</config>